.arc-reference-guides {
    .arc-reference-guides-top {
        margin-top: 60px;
        margin-bottom: 60px;

        h1 {
            font-size: 48px;
            line-height: 46px;
        }
        
    }
}