#ndc-app {
  .product-accordion {
    .col-11 {
      flex: 0 0 95%;
      max-width: 95%;
    }
    .col-1 {
      flex: 0 0 5%;
      max-width: 5%;
    }
  }

  .product-accordion-row {
    background: #f1f2f2;
    color: #212122;
    margin: 0 0 20px;
    border-radius: 10px;
    overflow: hidden;

    &.active {
      background: #212122;
      color: #ffffff;

      .product-accordion-start {
        background: #212122;
      }
    }
  }

  .product-accordion-top {
    font-family: SourceSansPro-Regular, Arial, Helvetica, sans-serif;
    transition: 0.5s;
    overflow: hidden;
  }

  .product-accordion-start {
    position: relative;
    z-index: 5;
    padding: 35px;
  }

  .product-accordion-info {
    background: #212122;
    position: relative;
    display: none;
    word-break: break-word;
    z-index: 4;
    transition: all 0.5s ease-in-out;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;

    &.show {
      display: block;
    }
  }

  .product-accordion-section {
    background: #2a2b2c;
    padding: 20px;
    border-radius: 8px;
    height: 100%;
  }

  .apDesignator,
  .apCode {
    font-family: SourceSansPro-SemiBold, Arial, Helvetica, sans-serif;
    background: #1d9cb1;
    width: 90px;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    border-radius: 8px;
    margin-right: 20px;
  }

  .apProcessing {
    font-family: SourceSansPro-SemiBold, Arial, Helvetica, sans-serif;
    color: #2a2b2c;
    background: #ffffff;
    height: 50px;
    width: 50px;
    font-size: 26px;
    line-height: 50px;
    text-align: center;
    margin-right: 10px;
    border-radius: 8px;
    margin-top: 15px;
  }

  .apCode {
    background: #c5b593;
    margin-right: 30px;
  }

  .apName {
    font-family: SourceSansPro-SemiBold, Arial, Helvetica, sans-serif;

    font-size: 30px;
  }

  .apUpdated {
    color: #888888;
    font-size: 14px;
    line-height: 24px;
    font-family: SourceSansPro-Bold, Arial, Helvetica, sans-serif;
    margin-right: 25px;
  }

  .apUpdated span {
    font-family: SourceSansPro-Regular, Arial, Helvetica, sans-serif;
  }

  .apExpand {
    font-size: 25px;
    cursor: pointer;
    text-align: right;
    margin-right: 5px;
  }

  .ml-auto {
    margin-left: auto;
  }

  .apSectionMargin {
    margin-left: 20px;
    margin-right: 20px;
    line-height: 15px;
  }

  .apSectionMarginLeft {
    margin-left: 20px;
  }

  .apSectionMarginRight {
    margin-right: 20px;
  }

  .apSection {
    background: #2a2b2c;
    padding: 20px;
    border-radius: 8px;
    height: 100%;
  }

  .apSectionTop {
    padding-bottom: 20px;
    margin-bottom: 5px;
    border-bottom: 1px solid #444444;

    h3 {
      color: #ffffff;
      font-family: SourceSansPro-SemiBold, SourceSansPro-Bold, Arial, Helvetica,
        sans-serif;
      font-size: 18px;
      line-height: 22px;
      margin-right: 20px;
      margin-bottom: 0;
    }
  }

  .airlineTooltip {
    position: relative;
    z-index: 30;

    .airlineTooltipText {
      position: absolute;
      right: 0;
      top: 30px;
      border-radius: 8px;
      padding: 20px;
      background: #ffffff;
      z-index: 30;
      display: none;
      color: #212121;
      width: 250px;
      max-height: 350px;
      border: 1px solid #000000;
      font-size: 14px;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    }

    &:hover .airlineTooltipText {
      display: block;
    }
  }

  .m-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .apButton {
    font-family: SourceSansPro-SemiBold, Arial, Helvetica, sans-serif;
    color: #2a2b2c;
    background: #393a3b;
    border: 2px solid #393a3b;
    height: 50px;
    font-size: 24px;
    line-height: 46px;
    text-align: center;
    margin-right: 10px;
    border-radius: 8px;
    margin-top: 11px;
    padding-left: 15px;
    padding-right: 15px;

    &.on {
      background: #939598;
      border: 2px solid #939598;
    }

    &.on-green {
      background: #8cc088;
      border: 2px solid #8cc088;
    }

    &.on-red {
      background: #d23e3e;
      border: 2px solid #d23e3e;
    }

    &.apButtonBorder {
      border: 2px solid #393a3b;
      color: #393a3b;
      background: transparent;
      line-height: 46px;

      &.active {
        border: 2px solid #8cc088;
        color: #8cc088;
      }
      &.active-gray {
        color: #939598;
        border: 2px solid #939598;
      }
    }

    &.border-red {
    }
  }

  @media screen and (max-width: 768px) {
    .apSectionBottom {
      .d-flex {
        flex-direction: column;
      }
      .apButton {
        height: auto;
        line-height: 1.5;
      }
    }

    .apSectionMargin,
    .apSectionMarginLeft,
    .apSectionMarginRight {
      margin: 0;
      height: auto !important;
      margin-top: 15px;
    }
    .product-accordion {
      .col-11 {
        flex: 0 0 88%;
        max-width: 88%;
      }
      .col-1 {
        flex: 0 0 12%;
        max-width: 12%;
      }
    }
    .ml-auto {
      margin-left: 0;
    }
  }
}
