html {
  height: 100%;
}

body {
  font-family: SourceSansPro-Regular, Arial, Helvetica, sans-serif;
  font-size: 16px;

  h1,
  h2 {
    color: #2a2b2c;
  }

  .page--headline{
    max-width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .page--headline__content {
    max-width: 100%;
  }

  .basic-text-inside {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }

}

p {
  font-family: SourceSansPro-Regular;
}

.home-page a.ctaBtn {
  min-width: 160px;
}

a.ctaBtn:focus {
  background: #1a9cb1;
  border-color: #1a9cb1;
}

// epi styles overrides


