html {
  height: 100%;
}

body {
  font-family: SourceSansPro-Regular, Arial, Helvetica, sans-serif;
  font-size: 16px;

  h1, h2 {
    color: #2a2b2c;
  }
}

p {
  font-family: SourceSansPro-Regular;
}

.home-page a.ctaBtn {
  min-width: 160px;
}

a.ctaBtn:focus {
  background: #1a9cb1;
  border-color: #1a9cb1;
}
