html {
  height: 100%;
}

body {
  font-family: SourceSansPro-Regular, Arial, Helvetica, sans-serif;
  font-size: 16px;

  h1,
  h2 {
    color: #2a2b2c;
  }

  .page--headline {
    max-width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }

  .page--headline__content {
    max-width: 100%;
  }

  .basic-text {
    .basic-text-inside {
      max-width: 1200px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .article--headline {
    padding: 0;
  }

  .article--headline__content {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }

  #sticky-wrapper {
    display: none !important;
  }
}

p {
  font-family: SourceSansPro-Regular;
}

.home-page a.ctaBtn {
  min-width: 160px;
}

a.ctaBtn:focus {
  background: #1a9cb1;
  border-color: #1a9cb1;
}

.no-gutters {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

// epi styles overrides
@media screen and (min-width: 1230px) {
  .page-grid__content {
    max-width: 1200px;
    padding: 45px 0;
  }
}
