$black: #000000;

$teal: #189bb0;
$lightTeal: #1a9cb1;
$productgray: #868b8c;
$midgray: #2a2b30;
$white: #ffffff;
$fog: #f7f5f5;
$tarmac: #2a2b2c;
$overcast: #aaaaaa;
$flare: #FF1B71;

$brand-colors: ("product-lightgray", $productgray), ("white", $white),
  ("teal", $teal), ("midgray", $midgray), ("fog", $fog), ("tarmac", $tarmac),
  ("lightTeal", $lightTeal),("black", $black);

@each $color in $brand-colors {
  .type-color-#{nth($color,1)} {
    color: nth($color, 2) !important;
  }

  .bg-color-#{nth($color,1)} {
    background: nth($color, 2) !important;
  }
}

.img-fluid {
  width: auto;
  max-width: 100%;
}

.img-width-auto {
  width: auto !important;
}

.height-auto {
  min-height: auto !important;
  height: auto !important;
}