@use "~arccorp-vars/dist/scss/main.scss";

#arc-events {
  .event-page {
    .event-inner > .row {
      justify-content: space-between;
    }

    .event-card-outer {
      margin-top: 20px;
      margin-bottom: 20px;
      height: 316px;
      max-width: 570px;
      width: 100%;

      .col {
        padding: unset;
      }

      .event-card-left {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: #089bb0;
        float: left;
        height: inherit;
        max-width: 190px;
        background-position: left center;
        background-size: cover;

        .event-date {
          padding-top: 8px;
          padding-left: 10px;
        }

        .event-month {
          height: 28px;
          width: 67px;
          border-radius: 11px 11px 0 0;
          background-color: #189bb0;
          p {
            color: main.$white;
            font-family: main.$arc-font-bold;
            font-size: 18px;
            letter-spacing: 0;
            line-height: 30px;
            text-align: center;
            text-transform: uppercase;
          }
        }
        .event-day {
          height: 39px;
          width: 67px;
          border-radius: 0 0 11px 11px;
          background-color: #ffffff;
          p {
            color: #2a2b2d;
            font-family: main.$arc-font-bold;
            font-size: 34px;
            letter-spacing: 0;
            line-height: 30px;
            text-align: center;
            padding-top: 2px;
          }
        }
      }

      .event-card-right {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: #f7f5f5;

        .event-right-inner {
          padding: 20px 30px 20px 25px;
        }
      }
    }

    .event-page-title {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .event-inner {
      p {
        color: #2a2b2d;
      }
      .event-title {
        height: 64px;
        width: 307px;
        font-family: main.$arc-font-bold;
        font-size: 28px;
        letter-spacing: 0;
        line-height: 32px;
      }
      .event-desc {
        height: 72px;
        width: 316px;
        color: #2a2b2c;
        font-family: main.$arc-font-regular;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 16px;
      }
      .event-location {
        height: 18px;
        width: 154px;
        color: #2a2b2c;
        font-family: main.$arc-font-semibold;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 16px;
        padding-bottom: 75px;

        .location-icon {
          height: 14px;
          padding-right: 7px;
          padding-bottom: 2px;
        }
      }

      .event-cta {
        color: #189bb0;
        font-family: main.$arc-font-bold;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 0;
        line-height: 28px;

        &::after {
          font-family: "icomoon";
          content: "\E909";
          font-size: 0.675rem;
          margin-left: 10px;
        }
      }
    }
  }
}
