@use "_variables";

$name: variables.$namespace;
$margin-spacing: 30px;

.#{$name}footer {
  color: variables.$tarmac;
  border-top: 1px solid variables.$tarmac;
  margin-top: 0;
  background: #ffffff;
}

.#{$name}footer-sub {
  max-width: 1200px;
  margin: 0 auto $margin-spacing * 2;
  padding: 18px 0;
  border-bottom: 1px solid variables.$tarmac;
}

.#{$name}footer-sub-border {
  padding-top: 10px;
  border-top: 1px solid variables.$tarmac;
}

.#{$name}footer-container-base {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.#{$name}footer-container {
  //margin-top: $margin-spacing;
  //margin-bottom: $margin-spacing;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  //border-bottom: 1px solid #2a2b2c;
}

.#{$name}footer-section {
  font-family: SourceSansPro-Regular, "SourceSansPro-Regular", Arial, Helvetica,
    sans-serif;
  font-size: 14px;
  line-height: 30px;
}

.#{$name}footer-bottom {
  font-family: SourceSansPro-Regular, "SourceSansPro-Regular", Arial, Helvetica,
    sans-serif;
  font-size: 14px;
  line-height: 30px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding-top: $margin-spacing;
}

.#{$name}footer-tagline {
  color: variables.$teal;
  font-family: ProximaNova-ExtraBold, SourceSansPro-Bold,
    "SourceSansPro-Regular", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.#{$name}footer-title {
  font-family: SourceSansPro-Bold, "SourceSansPro-Regular", Arial, Helvetica,
    sans-serif;
  line-height: 1.2;
  margin-bottom: 10px;
}

a.#{$name}footer-link {
  display: block;
  font-family: SourceSansPro-Regular, "SourceSansPro-Regular", Arial, Helvetica,
    sans-serif;
  font-size: 14px;
  line-height: 1.25;
  color: variables.$tarmac;
  padding-top: 10px;
  padding-bottom: 10px;
}

.#{$name}footer-links-social {
  color: variables.$tarmac;
  font-size: 20px;
  margin-bottom: 0;
  margin-left: 60px;

  .mr-auto {
    margin-left: auto;
  }

  li {
    color: variables.$tarmac;
    list-style: none;
    display: inline-block;
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }

    a {
      color: variables.$tarmac;
    }
  }
}

.#{$name}footer-icon {
  img {
    max-height: 20px;
    width: auto;
  }
}

.#{$name}footer-iso {
  margin-left: 20px;

  img {
    max-width: 110px;
    width: auto;
  }
}

.#{$name}footer-links-policy {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background: variables.$tarmac;
  color: variables.$white;
  line-height: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;

  a {
    margin-right: $margin-spacing;
  }
}

@media (max-width: 767.999px) {
  .#{$name}footer-links-social {
    margin-right: auto;
    margin-left: auto;
  }

  .#{$name}footer-iso {
    display: block;
    margin-left: 0;
    margin-bottom: $margin-spacing;
    margin-top: $margin-spacing;
  }

  .#{$name}footer-bottom {
    line-height: 1.2;
  }

  .#{$name}footer-icon img {
    max-height: 25px;
    margin-bottom: $margin-spacing;
  }
}

@media (max-width: 575.98px) {
  .#{$name}footer-section {
    margin-bottom: $margin-spacing;
  }
}
