.homepage-top {
  max-width: 740px;
  margin: 60px auto;
  text-align: center;

  h1 {
    font-size: 48px;
    line-height: 1.25;
    margin-bottom: 20px;
  }

  p {
    font-size: 20px;
    font-family: SourceSansPro-Regular, "SourceSansPro-Regular", Arial,
      Helvetica, sans-serif;
    line-height: 28px;

    strong {
      font-family: SourceSansPro-SemiBold, "SourceSansPro-Semibold",
        SourceSansPro-Regular, "SourceSansPro-Regular", Arial, Helvetica,
        sans-serif;
    }
  }
}

.homepage-resources {
  max-width: 1200px;
  margin: 0 auto 60px auto;

  .col-lg-3 {
    .homepage-resource {
      background: rgb(50, 50, 50);
      width: 280px;
      height: 460px;

      .content-block--pageItem__title {
        padding: 10px 15px;
      }
      .ctaLink {
        font-family: SourceSansPro-Black, helvetica, arial, sans-serif;
        font-size: 1.15rem;
        width: 220px;
        display: block;
        padding: 12px 20px 16px 20px;
        position: relative;
        background: #ab035c;
        z-index: 3;
        margin: 0 auto;
        margin-top: -60px;
        color: #fff;
        line-height: 1.1;
        margin-bottom: 18px;

        &:after {
          content: "";
          display: block;
          margin-top: 10px;
          height: 3px;
          width: 27px;
          background: #ffffff;
        }
      }
      .content-block--pageItem__body {
        color: #ffffff;
        font-family: SourceSans-Pro-Regular, Arial, Helvetica, sans-serif;
        padding: 0 15px;
        font-size: 0.875rem;
        text-align: left;
        padding-top: 0;
      }
      .read-more {
        margin-top: 15px;
        margin-left: 15px;
        a,
        a:hover,
        a:focus {
          font-family: SourceSansPro-Bold, helvetica, arial, sans-serif;
          text-transform: uppercase;
          color: rgb(211, 128, 66);
          font-size: 14px;
        }
        &:after {
          font-family: "icomoon";
          content: "\E909";
          font-size: 12px;
          margin-left: 7px;
          color: rgb(211, 128, 66);
        }
      }
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .homepage-resources {
    .col-lg-3 {
      .homepage-resource {
        max-width: 560px;
        width: auto;
        height: auto;
        margin: 15px auto;
      }
    }
  }
}
