$articleWidth: 960px;

.newsReleaseLayout {
  .page--headline {
    padding: 0;
    max-width: 960px;
    margin: 50px auto 0;
  }

  .page--headline .mainTitle {
    font-family: SourceSansPro-Bold, "SourceSansPro-Bold", Arial, Helvetica,
      sans-serif;
    font-size: 60px;
  }

  .page--headline .parentLink {
    font-family: SourceSansPro-SemiBold, "SourceSansPro-SemiBold", Arial,
      Helvetica, sans-serif;
    font-size: 18px;
    line-height: 23px;
    max-width: 960px;
    margin: 0 auto 20px auto;
  }

  .page--headline__content {
    margin: 0;
    text-align: left;
    max-width: 100%;

    h1 {
      max-width: $articleWidth;
      margin: 0 auto;
    }
  }

  .basic-text .basic-text-inside .rtf .leadin-text:first-child {
    font-family: SourceSansPro-Regular, "SourceSansPro-Regular", Arial,
      Helvetica, sans-serif;
    font-size: 28px;
    padding-bottom: 25px;
    text-align: left !important;
    color: #2f2f2f;

    &:after {
      content: "";
      background: #189bb0;
      width: 115px;
      height: 6px;
      display: block;
      margin-top: 25px;
    }
  }

  .basic-text .basic-text-inside {
    max-width: $articleWidth;
    padding-top: 25px;

    .rtf p {
      font-size: 18px;
      line-height: 36px;
    }

    .rtf ul,
    .rtf,
    li {
      font-size: 18px;
      line-height: 36px;
      color: #6c6c6c;
    }
  }

  .press-release-boilerplate {
    background: transparent;
    padding: 0;

    max-width: 100%;

    &:before {
      display: none;
    }

    strong {
      font-size: 18px;
    }

    p {
      margin-left: auto;
      margin-right: auto;
      font-size: 16px;
      max-width: $articleWidth;
    }

    .boilerplate-info {
      background-color: #363452;
      color: #ffffff;
      padding-top: 32px;
      padding-bottom: 32px;
    }

    .row {
      margin-right: auto;
      margin-left: auto;
      max-width: $articleWidth;
    }
  }
}

@media screen and (min-width: 768px) {
  .press-release-boilerplate + footer {
    margin-top: 0;
  }
}

.newsroom-layout {
  .arc-blog-content {
    margin-top: 15px;
  }

  .arc-blog-share {
    width: 100%;
    margin-bottom: 0;
    max-width: 100%;
  }
}
