.apa-process-text {
  font-family: SourceSansPro-SemiBold, Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  margin-top: 15px;
}

.product-border {
  border-top: 1px solid #898790;
  padding-top: 60px;
  margin-top: 60px;
}

.apa-sdk {
  cursor: pointer;

  &:hover {
    filter: invert(40%) sepia(95%) saturate(2563%) hue-rotate(164deg)
      brightness(100%) contrast(81%);
  }
}

a.apa-link {
  font-family: SourceSansPro-SemiBold, SourceSansPro-Regular, arial, helvetica,
    sans-serif;
  font-size: 22px;
  border-bottom: 1px solid #2a2b2c;
  padding: 30px 0;
  margin-bottom: 30px;
  width: 100%;
  display: block;
}

.apa-dev {
  font-family: SourceSansPro-Bold, SourceSansPro-Regular, arial, helvetica,
    sans-serif;
  color: #2a2b2c;
  font-size: 18px;
  line-height: 22px;
  background: #f5f6f7;
  padding: 20px 0;
  border-radius: 7px;
  margin-bottom: 15px;
  text-align: center;
}
