.article-body .basic-text-inside {
  position: relative;
}

.articleShareContainer {
  position: absolute;
  left: -150px;
  top: 60px;
  z-index: 100;
}

.shareTitle {
  text-align: center;
  font-family: SourceSansPro-Regular, helvetica, arial, sans-serif;
  font-size: .8rem;
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-top: 15px;
}

.articleShare, .articleShare:visited, .articleShare:focus {
  display: block;
  font-family: 'icomoon';
  background: #b0b0b0;
  color: #ffffff;
  font-size: 1rem;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  margin-top: 5px;
}

.articleShare:hover {
  color: #ffffff;
}

.articleShare.articleShare-twitter:hover {
  background: #1DA1F2;
}

.articleShare-twitter:after {
  content: "\e900";
}

.articleShare.articleShare-facebook:hover {
  background: #3B5998;
}

.articleShare-facebook:after {
  content: "\e903";
}

.articleShare.articleShare-linkedin:hover {
  background: #0077B5;
}

.articleShare-linkedin:after {
  content: "\eaca";
}

@media screen and (max-width: 1169px){
  .articleShareContainer {
    position: fixed !important;
    bottom: 0 !important;
    left: auto !important;
    right: 0;
    text-align: center;
    top: auto !important;
  }
  .articleShare, .articleShare:visited, .articleShare:focus {
    margin: 0;
    vertical-align: bottom;
    display: inline-block;
  }
  .shareTitle {
    display: inline-block;
    border: 1px solid #b0b0b0;
    background: #ffffff;
    padding: 20px;
    margin-bottom:0;
    height: 61px;
  }
}
