@use "_variables";

$name: variables.$namespace;
$margin-spacing: 30px;

.#{$name}jumbo-swiper {
  margin-top: $margin-spacing;
  margin-bottom: $margin-spacing * 2;
  max-width: 1582px;
  overflow: visible;

  .swiper-pagination-bullet {
    border: 1px solid #ffffff;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background: #ffffff;
  }

  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 30px;
  }
}

.#{$name}jumbo {
  width: 100%;
  background: variables.$tarmac;
  max-width: 1210px;
  border-radius: 10px;
  height: 592px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.#{$name}jumbo-inner {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px;

  &.white,
  h2.white {
    color: variables.$white;
  }
}

.#{$name}jumbo-inner-title {
  font-family: SourceSansPro-Bold, "SourceSansPro-Bold", Arial, Helvetica,
    sans-serif;
  font-size: 48px;
  line-height: 48px;
  margin-bottom: $margin-spacing;
}

.#{$name}jumbo-inner-body {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: $margin-spacing;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  background: url("https://www2.arccorp.com/globalassets/homepage/redesign/march-update/left_arrow.png") center center;
  background-size: contain;
  height: 45px;
  width: 45px;
  left: 15%;
  right: auto;
  color: #ffffff;
  //opacity: 0.6;
  &:hover {
    opacity: 0.8;
  }
  //background: rgba(255, 255, 255, 0.2);
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  background: url("https://www2.arccorp.com/globalassets/homepage/redesign/march-update/right-arrow.png") center center;
  background-size: contain;
  height: 45px;
  width: 45px;
  right: 15%;
  color: #ffffff;
  left: auto;
  //opacity: 0.6;
  &:hover {
    opacity: 0.8;
  }
  //background: rgba(255, 255, 255, 0.2);
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  display: none;
  padding: 15px 19px;
  background: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  border-radius: 50%;
}

@media (max-width: 959.9999px) {
  .#{$name}jumbo {
    min-height: 592px;
    height: auto;

    .ctaBtn {
      margin-top: 0rem !important;
    }
  }
  .#{$name}jumbo-inner-title {
    font-size: 45px;
    line-height: 1;
  }

  .#{$name}jumbo-inner-body {
    font-size: 20px;
    line-height: 1.2;
  }

  .#{$name}jumbo-inner {
    padding: $margin-spacing $margin-spacing * 2;
  }

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    display: none;
  }

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    display: none;
  }
}

@media (max-width: 767.99px) {
  .#{$name}jumbo {
    background: variables.$tarmac !important;

    &.teal {
      background: variables.$teal !important;
    }
  }
}

@media (max-width: 575.98px) {
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: 15%;
  }

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: 15%;
  }
}
