@use "_variables";

$name: variables.$namespace;
$margin-spacing: 30px;

.swiper-wrapper {
  align-items: stretch;
  display: flex;
}

.swiper-slide {
  height: auto;
  align-items: stretch;
  display: flex;

  .youtube-background {
    border-radius: 20px;
    iframe {
      width: 1210px !important;
    }
  }
}

.#{$name}jumbo-swiper {
  margin-top: $margin-spacing;
  margin-bottom: $margin-spacing * 2;
  max-width: 1582px;
  overflow: visible;

  .swiper-pagination-bullet {
    background: transparent;
    border: 1px solid #ffffff;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background: #ffffff;
  }

  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 30px;
  }
}

.#{$name}jumbo {
  width: 100%;
  background: variables.$tarmac;
  max-width: 1210px;
  border-radius: variables.$border-radius * 2;
  height: 592px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;

  &.transparent {
    background: transparent;
  }

  .#{$name}jumbo-cta-link {
    margin-bottom: 0;
    line-height: 24px;

    &:after {
      margin-top: 1px;
    }
  }
}

.#{$name}jumbo-inner {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px;

  &.white,
  h2.white {
    color: variables.$white;
  }
}

.#{$name}jumbo-inner-title {
  font-family: SourceSansPro-Bold, "SourceSansPro-Bold", Arial, Helvetica,
    sans-serif;
  font-size: 48px;
  line-height: 48px;
  margin-bottom: $margin-spacing;
}

.#{$name}jumbo-inner-body {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: $margin-spacing;
}

.#{$name}jumbo-subscribe {
  display: none;
  position: absolute;
  bottom: $margin-spacing;
  left: $margin-spacing;
  max-width: 124px;

  img {
    border-radius: 4px;
  }
}

.#{$name}jumbo-video-cover {
  max-width: 497px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;

  img {
    border-radius: variables.$border-radius;
  }
}

.#{$name}jumbo-video {
  max-width: 497px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  background: url("https://www2.arccorp.com/globalassets/homepage/redesign/march-update/left_arrow.png")
    center center;
  background-size: contain;
  height: 45px;
  width: 45px;
  left: 13%;
  right: auto;
  color: #ffffff;
  //opacity: 0.6;
  &:hover {
    opacity: 0.8;
  }
  //background: rgba(255, 255, 255, 0.2);
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  background: url("https://www2.arccorp.com/globalassets/homepage/redesign/march-update/right-arrow.png")
    center center;
  background-size: contain;
  height: 45px;
  width: 45px;
  right: 13%;
  color: #ffffff;
  left: auto;
  //opacity: 0.6;
  &:hover {
    opacity: 0.8;
  }
  //background: rgba(255, 255, 255, 0.2);
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  display: none;
  padding: 15px 19px;
  background: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  border-radius: 50%;
}

@media (max-width: 959.9999px) {
  .#{$name}jumbo {
    min-height: 592px;
    height: auto;

    .ctaBtn {
      margin-top: 0rem !important;
    }
  }
  .#{$name}jumbo-inner-title {
    font-size: 35px;
    line-height: 1;
  }

  .#{$name}jumbo-inner-body {
    font-size: 20px;
    line-height: 1.2;
  }

  .#{$name}jumbo-inner {
    padding: $margin-spacing $margin-spacing * 2;
  }

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    display: none;
  }

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    display: none;
  }
}

.arc-jumbo-swiper
  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: auto;
  padding: 0px 8px 2px;
  left: 50%;
  margin-left: -35px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
}

@media (max-width: 767.99px) {
  .#{$name}jumbo {
    background: variables.$tarmac !important;

    &.teal {
      background: variables.$teal !important;
    }
    .#{$name}homepage-cta-link {
      display: block !important;
      margin: 15px auto;
      text-align: center !important;
    }
  }
}

@media (max-width: 575.98px) {
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: 13%;
  }

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: 13%;
  }

  .#{$name}jumbo-inner {
    padding: 30px 15px;
  }

  .#{$name}jumbo {
    min-height: auto;
    height: auto;
  }

  .#{$name}jumbo-subscribe {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    left: 0;
    bottom: 0;
    margin-bottom: $margin-spacing;
  }
}
