$black: #000000;
$white: #ffffff;

$teal: #189bb0;
$lightTeal: #1a9cb1;
$productgray: #868b8c;
$midgray: #2a2b30;
$fog: #f7f5f5;
$tarmac: #2a2b2c;
$darkgrey: #dddddd;
$landing: #888888;
$beacon: #FCBF49;

$namespace: arc-;
$border-radius: 10px;