@use "~arccorp-vars/dist/scss/main.scss";

#arc-events-app {
  .webinar-jumbo {
    padding-top: 60px;
    padding-bottom: 60px;

    height: 100%;
    background-color: #f7f5f6;

    .jumbo-row {
      width: 100%;
      max-width: inherit;
    }

    .jumbo-left {
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: inset 0 0 0 2000px rgba(42, 43, 44, 0.5);
      border-bottom-left-radius: 20px;
      border-top-left-radius: 20px;
      border-right: 15px solid main.$tarmac;

      height: 100%;
      margin-left: auto;
      max-width: 600px;
      position: relative;
      width: 100%;

      .jumbo-header,
      .jumbo-header > h2 {
        color: main.$white;
      }

      .jumbo-header {
        height: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
          font-family: main.$arc-font-bold;
          font-size: 48px;
          letter-spacing: 0;
          line-height: 46px;
        }
        .jumbo-tag {
          font-family: main.$arc-font-regular;
          font-size: 18px;
          letter-spacing: 0;
          line-height: 20px;
        }
      }
    }

    .jumbo-right {
      background-color: main.$tarmac;

      height: 100%;

      &.webinar-length-1 {
        min-height: 350px;
      }

      &.webinar-length-2 {
        min-height: 380px;
      }

      .webinar-events {
        align-items: center;
        display: flex;
        height: 100%;
        padding-left: 60px;
      }

      .event-month {
        height: 30px;
        width: 72px;
        border-radius: 11px 11px 0 0;
        background-color: #189bb0;
        p {
          color: main.$white;
          font-family: main.$arc-font-bold;
          font-size: 18px;
          letter-spacing: 0;
          line-height: 30px;
          text-align: center;
          text-transform: uppercase;
        }
      }
      .event-day {
        height: 39px;
        width: 72px;
        border-radius: 0 0 11px 11px;
        background-color: #ffffff;
        p {
          color: #2a2b2d;
          font-family: main.$arc-font-bold;
          font-size: 34px;
          letter-spacing: 0;
          line-height: 30px;
          text-align: center;
          padding-top: 2px;
        }
      }

      .webinar-details {
        color: main.$white;
      }

      .webinar-event {
        padding: 30px 0px;
        display: flex;
      }

      .webinar-list {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      .webinar-details {
        padding-left: 15px;
      }

      .webinar-event-title {
        max-width: 440px;
        font-family: main.$arc-font-semibold;
        font-size: 21px;
        letter-spacing: 0;
        line-height: 23px;
      }

      .webinar-time {
        font-family: main.$arc-font-semibold;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 16px;
      }
    }
  }

  .event-page {
    .arc-event {
      height: 100%;
      background-position: center;
      background-size: cover;
      border-radius: 10px;
      min-height: 316px;
    }

    .event-card-outer {
      margin-top: 20px;
      margin-bottom: 20px;
      // height: 100%;
      border-radius: 10px;
      background-color: #f7f5f5;

      .row.no-gutters {
        height: 100%;
      }

      .event-card-left {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: #6c6c6c;
        min-height: 316px;
        max-width: 190px;
        background-position: left center;
        background-size: cover;
        box-shadow: inset 0 0 0 2000px rgba(42, 43, 44, 0.1);
        height: 100%;

        .event-date {
          padding-top: 9px;
          padding-left: 9px;
        }

        .event-month {
          height: 28px;
          width: 79px;
          border-radius: 11px 11px 0 0;
          background-color: #189bb0;
          p {
            color: main.$white;
            font-family: main.$arc-font-bold;
            font-size: 22px;
            letter-spacing: 0;
            line-height: 28px;
            text-align: center;
            text-transform: uppercase;
          }
        }
        .event-day {
          height: 44px;
          width: 79px;
          border-radius: 0 0 11px 11px;
          background-color: #ffffff;
          p {
            color: #2a2b2d;
            font-family: main.$arc-font-bold;
            font-size: 42px;
            letter-spacing: 0;
            line-height: 40px;
            text-align: center;
          }
        }
      }

      .event-card-right {
        min-height: 316px;
        position: relative;
        height: 100%;
        .event-right-inner {
          padding: 20px 30px 20px 25px;
          height: 100%;
        }
      }
    }

    .event-page-title {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .event-container {
      p {
        color: #2a2b2d;
      }
      .event-title {
        font-family: main.$arc-font-bold;
        font-size: 28px;
        letter-spacing: 0;
        line-height: 32px;
        margin-bottom: 10px;
      }
      .event-desc {
        color: #2a2b2c;
        font-family: main.$arc-font-regular;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 16px;
        margin-bottom: 10px;
      }
      .event-location {
        color: #2a2b2c;
        font-family: main.$arc-font-semibold;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 16px;
        margin-bottom: 34px;

        .location-icon {
          height: 14px;
          padding-right: 7px;
          padding-bottom: 2px;
        }
      }

      .event-cta {
        color: #189bb0;
        font-family: main.$arc-font-bold;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 0;
        line-height: 28px;
        position: absolute;
        bottom: 17px;
        margin-top: auto;

        &::after {
          font-family: "icomoon";
          content: "\E909";
          font-size: 0.675rem;
          margin-left: 10px;
        }
      }
    }
  }
  .on-demand-webinar-callout {
    margin-top: 80px;
    margin-bottom: 60px;
    background-color: main.$black;
    background-image: url("https://www2.arccorp.com/globalassets/homepage/redesign/events/webinar-callout-banner.jpg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .on-demand-webinar-inner {
    padding: 120px 0px;
  }

  .webinar-inside,
  .webinar-title {
    color: main.$white;
  }
  .webinar-title {
    font-family: main.$arc-font-bold;
    font-size: 48px;
    letter-spacing: 0;
    line-height: 52px;
  }
  .webinar-desc {
    max-width: 578px;
    font-family: main.$arc-font-regular;
    font-size: 21px;
    letter-spacing: 0;
    line-height: 23px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 991px) {
  #arc-events-app .webinar-jumbo .jumbo-left .jumbo-header {
    text-align: center;
  }

  #arc-events-app .event-page .event-card-outer .event-card-left {
    max-width: none;
  }
}

@media screen and (max-width: 768px) {
  //Jumbo
  #arc-events-app .webinar-jumbo {
    padding-top: 0px;

    .jumbo-left {
      height: 200px;
      border-right: none;
      max-width: none;
      border-radius: 0px 0px 0px 0px;

      .jumbo-header {
        text-align: center;

        h2 {
          font-size: 38px;
        }

        .jumbo-tag {
          max-width: 225px;
        }
      }
    }
  }

  #arc-events-app .webinar-jumbo .jumbo-right .webinar-events {
    padding-left: none;
  }

  #arc-events-app .webinar-jumbo .jumbo-right .webinar-time {
    padding-top: 5px;
  }

  // Events section
  #arc-events-app .event-page .event-container .event-title {
    font-size: 20px;
    line-height: 20px;
  }

  #arc-events-app .event-page .arc-event {
    height: 230px;
    min-height: auto;
  }

  #arc-events-app .event-page .event-card-outer {
    border-radius: 10px;
  }

  #arc-events-app .event-page .event-card-outer .event-card-left {
    height: 95px;
    max-width: 100%;
    min-height: 95px;
    border-radius: 10px 10px 0px 0px;
  }
  #arc-events-app .event-page .event-card-outer .event-card-right {
    min-height: 270px;
  }

  .on-demand-webinar-callout {
    box-shadow: inset 0 0 0 2000px rgba(42, 43, 44, 0.6);
  }
}
